{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid banner">
<div class="container justify-content-center" >
    <h4 class="text-center text-white font-weight-bold" style="font-size: 35px;font-family: 'Montserrat', sans-serif;">Tap into your <br>neighborhood</h4>
        <button type="button" class="btn btn-success btn-md " style="margin-left: 45%;font-family: 'Ramaraja', serif; "> <a href="{% url 'all' %}" style="text-decoration: none;color: white;">Explore </a>
  </button>

</div>
</div>
<footer>
    <p class="text-center mt-1">All rights reserved. Cynthia Umutoniwabo @2020</p>
</footer>

{% endblock %}